::-webkit-scrollbar {
    width: 0px;
}

body {
	background-color: #d4ebf2;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
}

h1 {
	font-family: 'League-Bold' , sans-serif;
	color: 	#99ace0;
	font-style: normal;
	font-weight: 400;
    font-size: 15vh;
    letter-spacing: 8px;
    text-align: center;
    margin: 0%;
    padding: 100px;
}

h2 {
	font-family: 'League-Bold' , sans-serif;
	color: 	#99ace0;
	font-style: normal;
	font-weight: 400;
    font-size: 5vh;
    letter-spacing: 5px;
    text-align: center;
    margin: 0%;
    padding-top: 50px;
}

 h3 {
	font-family: 'League-Bold' , sans-serif;
	color: 	#99ace0;
	font-style: normal;
	font-weight: 400;
    font-size: 5vh;
    letter-spacing: 5px;
    text-align: center;
    margin: 0%;
    padding-top: 70px;
}

h4 {
	font-family: 'League-Bold' , sans-serif;
	color: 	#99ace0;
	font-style: normal;
	font-weight: 400;
    font-size: 5vh;
    letter-spacing: 5px;
    text-align: left;
    margin: 0%;
    padding-top: 20px;
    padding-left: 20px;
}

 h5 {
	font-family: 'League-Bold' , sans-serif;
	color: 	#99ace0;
	font-style: normal;
	font-weight: 400;
    font-size: 3vh;
    letter-spacing: 5px;
    text-align: center;
    margin: 0%;
    padding-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.overlay {
    position: absolute;
}

#TitleHeader {
    position: relative;
    /* background-image: url("../textures/background.jpg");
    background-size: cover; */
    background: #97d8e7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ffdae0, #daf3ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ffdae0, #daf3ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ffdae0, #daf3ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ffdae0, #daf3ff); /* Standard syntax */
    width: 100%;
}

.headerStyle {
    height: 100vh;
} 

.fillheight {
    height:100%;
}